.roleta {
    justify-content: center;
    align-items: center;
    display: none;
    height: 90vh;
    width: 100%;
}
.roleta img {
    height: 100%;
    transition-duration: 20s;
    margin: 0 auto;
    display: block;
}
.roleta button {
    height: 10vh;
    cursor: pointer;
    width: 10vh;
    padding: 0;
    font-size: 2.5vh;
    margin: 0 auto;
    position: absolute;
    background-color: blue;
    color: #ffffff;
    border-radius: 30vh;
    border: 0.3vh solid #000;
    display: block;
}