body {
    background-color: #000;
    display: flex;
    align-items: center;
    margin: 0;
    height: 100vh;
}
.calculadora {
    height: 800px;
    width: 600px;
    background-color: rgb(128, 128, 128);
    margin: 0 auto;
    border: 5px solid rgb(231, 230, 230);
    border-radius: 20px;
    display: block;
}
.tela {
    height: 30%;
    width: 100%;
    border-bottom: 3px solid rgb(231, 230, 230);
    background-color: rgba(172, 158, 158, 0.3);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    align-items: center;
}
.nums {
    display: flex;
    align-items: center;
    height: 70%;
}
.nums button {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    font-size: 50px;
    transition-duration: 0.1s;
    border: 3px solid #7a7a7a;
    cursor: pointer;
    background-color: #ffffff;
    text-shadow: 1px 1px 1px #3f3c3c;
}
.nums button:hover {
    background-color: #b4b4b4;
}
.nums button:active {
    background-color: #e7e7e7;
}
.btns {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 15% 15% auto auto auto;
}
#um {
    border-bottom-left-radius: 20px;
}
#igual {
    border-bottom-right-radius: 20px;
}
#elevado img {
    height: 45px;
    margin: 0 auto;
    display: block;
}
#raiz img {
    height: 45px;
    margin: 0 auto;
    display: block;
}
#clear img {
    height: 45px;
    margin: 0 auto;
    display: block;
}
#abre {
    font-size: 40px;
}
#fecha {
    font-size: 40px;
}
#telatxt {
    margin: 0 auto;
    font-size: 60px;
    width: 100%;
    text-align: right;
    padding: 20px;
    background-color: #000;
    color: rgb(121, 255, 121);
    border-top: 1px solid rgb(121, 255, 121);
    border-bottom: 1px solid rgb(121, 255, 121);
    height: 100px;
    letter-spacing: 6px;
}
html {
    font-family: "News Cycle", sans-serif;
    font-style: normal;
  }