body {
    background-color: #000;
    background-image: linear-gradient( 45deg, rgb(87, 140, 189), rgba(37, 37, 41, 0.295), rgb(50, 89, 92));
    background-size: 500% 100%;
    display: flex;
    align-items: center;
    margin: 0;
    height: 100vh;
    animation: degrade-animado 5s infinite alternate;
}

@keyframes degrade-animado{
    0%{
        background-position-x: 0%;
    }
    100%{
        background-position-x: 100%;
    }

}

.calculadora {
    height: 92vh;
    width: 65vh;
    background-color: rgb(128, 128, 128);
    margin: 0 auto;
    border: 5px solid rgb(32, 180, 238);
    border-radius: 20px;
    display: block;
}
.tela {
    height: 30%;
    width: 100%;
    border-bottom: 3px solid rgb(231, 230, 230);
    background-color: rgba(26, 16, 16, 0.267);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    align-items: center;
}
.nums {
    display: flex;
    align-items: center;
    height: 70%;
}
.nums button {
    height: 100%;
    width: 100%;
    border-radius: 500px;
    box-shadow: 0 0 15px rgb(87, 69, 185),inset 0 0 15px rgb(52, 138, 196) ;
    text-shadow: 0 0 15px rgb(228, 43, 252);
    margin: 0 auto;
    font-size: 50px;
    transition-duration: 0.1s;
    border: 3px solid #7a7a7a;
    cursor: pointer;
    background-color: #ffffff;
    text-shadow: 1px 1px 1px #3f3c3c;
}
.nums button:hover {
    background-color: #b4b4b4;
}
.nums button:active {
    background-color: #e7e7e7;
}
.btns {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 15% 15% auto auto auto;
}

#elevado img {
    height: 45px;
    margin: 0 auto;
    display: block;
}
#raiz img {
    height: 45px;
    margin: 0 auto;
    display: block;
}
#clear img {
    height: 45px;
    margin: 0 auto;
    display: block;
}
#abre {
    font-size: 40px;
}
#fecha {
    font-size: 40px;
}
#telatxt {
    margin: 0 auto;
    font-size: 60px;
    width: 100%;
    text-align: right;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    padding: 70px;
    background-color: #000;
    color: rgb(90, 248, 248);
    border-top: 1px solid rgb(121, 251, 255);
    border-bottom: 1px solid rgb(253, 255, 253);
    height: 100px;
    letter-spacing: 6px;
}
html {
    font-family: "News Cycle", sans-serif;
    font-style: normal;
  }